
body {
  font-family: 'Arial', sans-serif;
  background: rgb(170,165,165);
background: linear-gradient(331deg, rgba(170,165,165,1) 14%, rgba(82,121,147,1) 44%, rgba(184,182,174,0.5013655120251226) 60%);
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

h1, h2, h3 {
  color: #333;
}

/* input[type="text"] {
  width: 300px;
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
input[type="password"] {
  width: 300px;
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
} */

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  margin: 10px 0;
  /* background-color: #fff; */
  /* border: 1px solid #ddd; */
  border-radius: 5px;
}

p {
  color: #666;
}

form {
  margin-top: 30px;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  margin-bottom: 20px;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.height-10vh {
  height: 10vh;
}

.z-index-1 {
  z-index: 1;
}
